*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Stage folders
0_info
1_names
2_download
3_alignment
4_phylogeny
requires

# pickle
*p

# Sublime
*.sublime-workspace
*.sublime-project
